/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Baskerville', serif;
    border-bottom: 1px solid #ccc;
    color: #9cafa7;
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#about img {
	border: 5px solid #9cafa7;
}

#about h2, #press h2 {
	color: #9cafa7;
	font-size: 2em;
}

#press img {
	border: 5px solid #DAE3E0;
}

.small {
	font-size: .8em;
}

footer {
	text-align: right;
	margin-right: 10px;
}

p {
    color: #555;
    margin: 0 0 20px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
